*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 150px;
    background-color: black;
}
.cc{
    background-color: bisque;
    padding: 15px;
    border-radius: 7px;
    height: 400px;
}
input{
    height: 30px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.enter p{
    font-size: 20px;
}
.enter{
    padding-top: 30px;
}
.mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    height: 50px;
}
.st{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
button{
    width: 300px;
    height: 50px;
    background-color: rgb(52, 36, 36);
    color: bisque;
    margin-top: 10px;
}
